node_modules/
target/
_out/
gen/

.vscode/settings.json

# Build artifacts
dist/
app/**/dist/
*.zip
resources/
app/tms-alp-test/
app/project1
db.sqlite-shm
db.sqlite-wal

.cdsrc-private.json
default-*.json
*.sqlite
.env

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models
